<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/style-login-page.css">
    <title>Resume Adapter Template | Log-In User</title>
</head>
<body class="transition">
    <div class="general-container">
        <a class="logo" href="index.html"></a>
        <form action="home-page.html" method="get">
            <div class="input-container">
                <div class="input">
                    <input class="username-input" type="text" name="username" id="username" placeholder="Username" required>
                </div>
                <div class="input">
                    <input class="password-input" type="password" name="password" id="password" placeholder="Password" minlength="8" required>
                </div>
            <div class="buttons">
                <div></div>
                <div></div>
                <div class="go-back-button"> 
                    <a class="go-back-button" href="/views/general/index.html" > Back </a>
                </div>
                <div class="register-button">
                    <a class="register-button" href="/views/general/register-page.html" > Register </a>
                </div>
                <div>
                    <button class="login-button" type="submit"> Login ></button>
                </div>
                <div></div>
            </div>        
        </form>
    </div>
</body>
</html>