* {
  margin: 0;
  padding: 0;
  transition: all .5s ease-in-out;
}



#login-form input{
  border-style: hidden;
}

#login-form input:hover{
  background-color: #535353 !important;
}
#login-form .btn:hover{
  background-color: #535353 !important;
  color: #FFFFFF;
  }

::placeholder{
  color: #FFFFFF !important;
  opacity: 0.5 !important;
  font-weight: lighter;
}

label{
  color: #535353;
}

