* {
  margin: 0;
  padding: 0;
  transition: all .5s ease-in-out;
}



#register-form input{
  border-style: hidden;
}

#register-form input:hover{
  background-color: #535353 !important;
}

#register-form .btn:hover{
background-color: #535353 !important;
color: #FFFFFF !important;
}

::placeholder{
  color: #FFFFFF !important;
  opacity: 0.5 !important;
  font-weight: lighter;
}

label{
  color: #535353;
}

