* {
  margin: 0;
  padding: 0;
  font-family: 'OwnRoboto';
}
/* Imported font*/
@font-face {
    font-family: 'OwnRoboto';
    src: url('../static/font/Roboto-Bold.ttf');
    font-style: normal;
}
body {
  background-image: url(../static/images/background2.png);
  background-repeat: no-repeat;
}
/*---------------|Page transition|--------------------*/
/* Defines a animation transition */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Applies the animation to elements */
.transition {
  animation-name: fade;
  animation-duration: 0.5s;
}
/*---------------|General container|-------------------*/
.general-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1.9fr 1fr 1fr;
}
/*---------------|Logo|-------------------*/
.logo {
  background-image: url(../static/images/logos/logo.png);
  background-repeat: no-repeat;
  margin-left: 38%;
  margin-top: 3%;
  background-size: 100%;
  width: 30%;
  opacity: 0.8;
  transition: margin-left 0.15s ease-in-out, margin-top 0.15s ease-in-out,
    width 0.15s ease-in-out;
}
.logo:hover {
  margin-left: 34%;
  margin-top: 1%;
  width: 38%;
}
/*---------|inputs|-----------*/
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  margin-top: 3%;
}
input {
  background-color: #62768c;
  font-size: 18px;
  border: none;
  width: 170%;
  height: 5vh;
  padding-left: 30%;
  border-radius: 15px;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}
.input {
  margin-bottom: 2%;
}
::placeholder {
  opacity: 0.7;
  color: #f2f2f2;
  font-size: 18px;
}

input:hover {
  opacity: 1;
}

input[type="text"],
input[type="email"] {
  color: #f2f2f2;
  padding-right: 10%;
}
input[type="password"] {
  padding-right: 10%;
}
input:focus {
  outline: none;
}
.username-input {
  background-image: url(../static/images/icons/user-icon.png);
  background-repeat: no-repeat;
  background-position: 5%;
  background-size: 6%;
}
.password-input {
  background-image: url(../static/images/icons/lock-icon.png);
  background-repeat: no-repeat;
  background-position: 5%;
  background-size: 6%;
}
.email-input {
  background-image: url(../static/images/icons/email-icon.png);
  background-repeat: no-repeat;
  background-position: 5%;
  background-size: 6%;
}
/*----------------|Selectors|----------------*/
.selector {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 18px;
}
input[type="radio"] {
  width: 1.3vw;
  margin-left: 4vw;
}

.selector label {
  background-color: #2f6b9f;
}

.selector label:hover {
}

/*---------------|Buttons|--------------*/

.buttons {
  display: flex;
  margin-left: 5%;
}
a {
  text-decoration: underline;
  color: #000000;
}
.register-button {
  transition: 0.3s;
  background-color: #3f8ebf;
  color: #f2f2f2;
  margin-left: 95%;
  margin-top: 10%;
  border: none;
  width: 7vw;
  height: 5vh;
  border-radius: 80px;
  font-size: 18px;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.2);
}
.register-button:hover {
  transition: 0.3s;
  background-color: #2f6b9f;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.3);
}
